{%- assign achievements = data.achievements %}
{%- if achievements and achievements.show %}
<section class="achievements" style="order: {{ achievements.order | default: 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-folder-open"></i>
    <h2>{{ achievements.title }}</h2>
  </div>

  <div class="section-content">
    {%- if achievements.description.size > 0 %}
    <div class="description markdown">
      {{ achievements.description | markdownify }}
    </div>
    {%- endif %}

    {%- if achievements.items %}
    <div class="items">
      {%- for item in achievements.items %}
      <div class="item">

        {%- if item.name %}
        <div class="row">
          <div class="achievements-name">
            {%- if item.link %}
            <a href="{{ item.link }}" target="_blank">{{ item.name }}</a>
            {%- else %}
            <span>{{ item.name }}</span>
            {%- endif %}
            {%- if item.tags %}
            <small>[{{ item.tags }}]</small>
            {%- endif %}
          </div>

          {%- if item.date %}
          <div class="date">
            <span>{{ item.date }}</span>
          </div>
          {%- endif %}
        </div>

        {%- if item.description.size > 0 %}
        <div class="description markdown">
          {{ item.description | markdownify }}
        </div>
        {%- endif %}
        {%- endif %}

      </div>
      {%- endfor %}
    </div>
    {%- endif %}
  </div>
</section>
{%- endif %}
